NANGO_IMAGE_TAG=hosted

POSTGRES_DB=nango
POSTGRES_USER=nango
POSTGRES_PASSWORD=change-me

NANGO_DB_HOST=postgres
NANGO_DB_PORT=5432
NANGO_DB_DATABASE=nango
NANGO_DB_USERNAME=nango
NANGO_DB_PASSWORD=change-me

NANGO_SERVER_URL=https://nango.claw-link.dev
NANGO_PUBLIC_CONNECT_URL=https://connect.nango.claw-link.dev

NANGO_ENCRYPTION_KEY=replace-with-32-plus-random-chars
NANGO_JWT_SECRET=replace-with-a-long-random-secret

SERVER_PORT=3003
NANGO_CONNECT_UI_PORT=3009
FLAG_SERVE_CONNECT_UI=true
NANGO_LOG_LEVEL=info
